@font-face {
  /*http://jailmake.com/wp-content/themes/jail_2_2/JAILcopy.ttf*/
  font-family: JAILcopy;
  src: url(/JAILcopy.ttf);
}

body {
  font-family: JAILcopy, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  background: #EEE;
}
header{
  background: rgb(24,49,96);
  position: relative;
}
header h1{
  display: inline-block;
  padding:10px 5px;
  color: white;
  margin:0;
  vertical-align: middle;
}
header h1 img {
  vertical-align: -22px;
}
header nav {
  display: inline-block;
  vertical-align: middle;
}
header nav a {
  text-decoration: none;
  font-size: 24px;
  padding: 10px;
  color: white;
}
header nav a span {
  display: inline;
}
header nav a:hover {
  color: rgb(24,49,96);
  background-color: white;
}
header #feedback {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
  width: 250px;
  color: white;
}

header .login-panel {
  float: right;
  color: white;
  margin: 32px;
  font-size: 24px;
}
header .login-panel #login-dropdown-list {
  left: -150px;
}
header .login-panel .or, header .login-panel .login-password-form {
  display: none;
}
#chef {
  color: rgb(24,49,96);
}
.card {
  background: rgb(24,49,96);
  color: white;
  display: inline-block;
  padding: 4px;
  margin: 0 4px 10px 0;
  border:solid 1px #333;
  /*box-shadow: 2px 2px 10px rgba(0,0,0,0.2);*/
  opacity: 1;
}
.card.out{
  opacity: 0.5;
}
.card h1{
  margin: 0;
  padding:4px 0;
  font-size: 1.5em;
  overflow: hidden;
}
.photoFrame {
  display: inline-block;
  width:230px;
  height:230px;
  overflow: hidden;
  margin-bottom: 7px;
  vertical-align: middle;
}
.photoFrame img{
  min-height: 100%;
  min-width: 100%;
  max-width: 160%;
}
table .photoFrame{
  width:80px;
  height:80px;
  margin-bottom: 0;
}
table .photoFrame img{
  min-width: 80px;
  max-width: 128px;
}
.card .btn-editperson {
  display: none;
}
.card:hover .btn-editperson {
  display: inline;
}
.card .btn-editperson i {
  line-height: 0.8;
}
.card .btn-editperson {
  color: white;
}
.card .stats{
  background: white;
  color: #333;
  list-style-type: none;
  padding:0;
  margin:0;
  font-size: 0.9em;
}
.card .stats li{ 
  padding: 4px 4px 2px;
}
.card .stats li:nth-child(odd){
  background: #EEE;
}
.card .stats label{
  padding-right: 12px;
  min-width: 80px;
  display: inline-block;
  text-align: right;
}
.card .stats span{
  font-weight: 600;
}
.card .score{
  float:right;
}
.bad .score {
  color: red;
}
.good .score {
  color: green;
}
.good .score:before{
  content: "+"
}
body.addmeal .card{
  opacity: 0.2;
}
body.addmeal .card:hover{
  opacity: 0.5;
}
body.addmeal .card.eating{
  opacity: 1;
}
body.addmeal .card.chef{
  opacity: 1;
}
body.addmeal .card.chef .photoFrame{
  position: relative;
}
body.addmeal .card.chef .photoFrame:after{
  content: " ";
  display: block;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: url(img/chef.png);
  background-size: cover;
}

.rye{
  min-height:500px;
  background: url(http://fc05.deviantart.net/fs70/i/2010/059/2/6/Green_Grass_Texture_01_by_goodtextures.jpg);
  border: dashed 5px #333;

  margin-top:300px;
  padding: 10px 4px;
}

/*
* Homepage add meal mode
*/

button {
  background: white;
  padding: 6px;
  color: rgb(24,49,96);
}

button.btn {
  background-color: rgb(255,0,0);
  color: white;
  border-radius: 0;
  line-height: 18px;
  vertical-align: top;
  margin: 15px 0 15px 10px;
}

button.btn::before {
  margin-right: 5px;
}

.add-meal-hint {
  display: none;
  margin: 1px 0 0;
}

.adding-meal .welcome {
  display: none;
}

.adding-meal .add-meal-hint {
  display: block;
}

button.save, button.next {
  display: none;
}

.adding-meal button.next, .adding-chefs button.next {
  display: inline-block;
}

.add-meal-hint .add-meal-details-hint {
  display: none;
}

.adding-meal-details .add-meal-details-hint {
  display: inline-block;
}

.adding-meal-details button.save {
  display: inline-block;
}

.adding-meal-details button.next {
  display: none;
}

.meal-details {
  display: none;
}

.adding-meal-details .deck {
  display: none;
}

.adding-meal-details .meal-details {
  display: block;
  text-align: center;
  font-size: 24px;
  margin: 30px auto;
}

.adding-meal-details .meal-details br {
  display: none;
}

.add-eaters-hint, .add-chefs-hint, .add-meal-details-hint {
  display: none;
}

.adding-meal.adding-eaters .add-eaters-hint {
  display: inline-block;
}

.adding-meal.adding-chefs .add-chefs-hint {
  display: inline-block;
}

.adding-meal.adding-meal-details .add-meal-details-hint {
  display: inline-block;
}

.adding-meal .card {
  width: 100%;
  display: block;
  height: 50px;
  padding: 0;
  border: 0;
}

.adding-meal .card > h1 {
  display: inline-block;
  margin-left: 10px;
}

.adding-meal .card .photoFrame {
  width: 50px;
  height: 50px;
  float: left;
}

.adding-meal .card .stats {
  display: none;
}

.adding-meal .card.eating {
  opacity: 1;
}

.adding-meal .card.chef {
  background-color: white;
  color: rgb(24,49,96);
}

.adding-meal .card:not(.eating) {
  opacity: 0.6;
}

/*
* Add meal page
*/

.login-buttons-dropdown-align-right{
  float:right;
}
.form-group{
  margin:2em 0;
}
.form-group label {
  font-size: 2em;
  margin: 0 0 4px;
  display: block;
}
.form-control, .select2-container-multi .select2-choices .select2-search-field input {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 20px;
  line-height: 1.5;
  color: white;
  background-color: rgb(24,49,96);
  box-shadow: none;
  border: none;
}
input[type="text"].form-control,
input[type="url"].form-control,
input[type="number"].form-control,
input[type="date"].form-control{
  padding:1px 10px;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.form-group.guests,
.form-group.date,
.form-group.dish {
  display: inline-block;
  width:40%;
  margin: 0;
  max-width: 260px; 
}

.form-group.date {
  width: 40%;
}


@media all and (max-width: 1000px) {
  .adding-meal-details .meal-details {
  }

  .adding-meal-details .meal-details .form-group {
    margin: 10px 0;
    min-width: 220px;
  }

  .adding-meal-details .meal-details br {
    display: block;
  }
}

@media all and (max-width: 768px) {
  header nav a span {
    display: none;
  }
} 